/* To hide the scrollbar*/
::-webkit-scrollbar {
    display: none;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}

figure a{
    text-decoration: none;
    color:#a6a6a6;
}
figure a:hover{
  color:#737373;
}
figure img:hover{
  cursor: pointer;
}

nav{
    flex: 1; /* Flex will allow items to shrink or grow to fit the space available */
    padding-left: 60px;
}


.box-260{
  height:260px;
  width:260px;
  overflow: hidden;
  text-align: center;
}

@media (max-width:1200px){
  .box-260{
    height:auto;
    width:100%;
  }
  .image{
    width:100%;
  }
}


.contact-photo{
  width:256px;
  height:256px;
  border-radius: 50%;
}

.checkout{
  width:100%;
}

.longimage{
  width:100%;
  margin: 0 0 20px 0;
}

.justify{
  text-align: justify;
}

.model_image{
  width:100%;
  height:100%;
  transition: transform .2s;
}

.model_image:hover{
  transform: scale(1.015);
}

.fadein{
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/* collection */
.image{
  width:100%;
  text-align: center;
  transition: transform .2s;
}

.image:hover{
    transform: scale(1.015);
}

/* cart */

.cart-page{
  margin: 10px auto;
}

.table{
  width: 400;
  border-collapse: collapse;
}

.cart-info{
  display:flex;
  flex-wrap:wrap;
  text-align: left;
}
.suede{
  width:30%;

  transition: transform .2s;
}



.remove-button{
  background-color: white;
  color:black ;
  border:2px solid black ;
}
.remove-button1:hover{
 background-color: #a6a6a6;
}

th{
  text-align: left;
  padding: 5px;
  color: black;
  background-color: #a6a6a6;
  font-size: 17px;
}

td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5;
}

td a {
  color: red;
  font-size: 12px;
}
.tag{
  font-size: 15px;
  font-weight: bold;
}

.total-price{
  display:flex;
  justify-content: flex-end;
}

.total-price table{
  border-top:3px solid #a6a6a6;
  width:100%;
  max-width: 350px;
}

td:last-child{
  text-align: right;
}
.check-out{
  background-color: rgb(3, 168, 58);
  color:white ;
  border:2px solid rgb(3, 168, 58) ;
  font-size: 25px;

}
.check-out1:hover{
  color:#a6a6a6 ;
}

.image-crystal{
  width:30%;

}

/* product page */
.product-page{
background-color: white;
  flex-wrap: 1;
  border: 2px solid #a6a6a6;
  padding: 50px;
  margin: 20px;
}
.product-description{
  text-align: center;
}

.border1{
  display: flex;
  border: 6px solid black;
  background-color: #a6a6a6;

}

/* checkout form */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
